<BODY ID="element" STYLE="background-image: url(degueu.jpeg);">
    <H1 CLASS="le_titre" STYLE="color: #ffffff; text-decoration: underline; border: 10px solid #ff69b4;" ID="element">SHIFUMOOOCHE</H1>
    <BUTTON ID="element" CLASS="le_son" STYLE="padding: 50px; color: #00ff00; background: linear-gradient(blue, white); font-weight: bold; font-size: 50px; border-radius: 250px;">BALANCER LE SON</BUTTON>
    <A HREF="https://www.youtube.com/watch?v=dQw4w9WgXcQ" ID="element" CLASS="tu_gagnes_tkt" STYLE="padding: 20px; color: #00ff00; background: linear-gradient(blue, white); font-weight: bold; font-size: 30px;">CLIC ICI POUR GAGNER UN IPHONE 13</A>
    <DIV ID="element" STYLE="display: block">
    <DIV ID="element" STYLE="display: block">
        <IMG ID="element" SRC="player_cayou.jpeg" CLASS="le_caillou" STYLE="width: 200px; height: 200px">
            <IMG ID="element" SRC="player_feuillle.jpg" CLASS="la_feuille" STYLE="width: 200px; height: 200px">
                <IMG ID="element" SRC="player_cizo.jpg" CLASS="le_ciseaux" STYLE="width: 200px; height: 200px">
                <H1 ID="element" CLASS="le_versus" STYLE="display: inline-block; font-size: 50px; color: #abcdef; background-color: #fedcba">VS</H1>
        <IMG ID="element" CLASS="jujujul" STYLE="width: 400px; height: 200px">
    </DIV>
</BODY>

<SCRIPT>
    var mon_docu = document
    var mettre_un_intervalle = setInterval
    var ya_plus_intervalle = clearInterval
    var attends_frero = setTimeout
    var alerter_les_gens = window.confirm
    var le_son = new Audio('la_musique.mp3');
    var angle_de_la_serviette = 0;
    var intervalle_de_tournage_de_la_serviette;
    var les_selecteurs = [
        ".le_titre",
        ".le_son",
        ".le_caillou",
        ".la_feuille",
        ".le_ciseaux",
    ];

    mon_docu.querySelector(les_selecteurs[1]).addEventListener("click", balancer_le_son)
    mon_docu.querySelector(les_selecteurs[1]).addEventListener("mouseenter", cacher)
    mon_docu.querySelector(les_selecteurs[1]).addEventListener("mouseleave", montrer)

    mon_docu.querySelector(les_selecteurs[2]).addEventListener("mouseenter", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
        et_on_fait_tourner_les_serviettes(mon_docu.querySelector(les_selecteurs[2]))
    });

    mon_docu.querySelector(les_selecteurs[3]).addEventListener("mouseenter", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
        et_on_fait_tourner_les_serviettes(mon_docu.querySelector(les_selecteurs[3]))
    });

    mon_docu.querySelector(les_selecteurs[4]).addEventListener("mouseenter", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
        et_on_fait_tourner_les_serviettes(mon_docu.querySelector(les_selecteurs[4]))
    });

    mon_docu.querySelector(les_selecteurs[2]).addEventListener("mouseleave", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
    });

    mon_docu.querySelector(les_selecteurs[3]).addEventListener("mouseleave", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
    });

    mon_docu.querySelector(les_selecteurs[4]).addEventListener("mouseleave", () => {
        et_on_arrete_de_faire_tourner_les_serviettes();
    });

    mon_docu.body.addEventListener("click", (evenement) => {
        badaboum(event.clientX, event.clientY)
    });

    for (let variable_iteration=-2;variable_iteration>-5;variable_iteration--){
        mon_docu.querySelector(les_selecteurs[-variable_iteration]).addEventListener("click", () => {
            for (let variable_iteration2=-2;variable_iteration2>-5;variable_iteration2--){
                if (-variable_iteration!=-variable_iteration2){
                    cacher_le_bouton(-variable_iteration2)
                    console.log(-variable_iteration2)
                }
            }
        });
    }

    function badaboum(le_x, le_y) {
        let le_boum = mon_docu.createElement("IMG");
        le_boum.src = "boom.gif"
        le_boum.style.position = "absolute";
        le_boum.style.left = le_x - calculer_valeur(50);
        le_boum.style.top = le_y - calculer_valeur(50);
        mon_docu.body.appendChild(le_boum);

        setTimeout(() => {
            le_boum.remove()
        }, calculer_valeur(250))
    }

    function cacher() {
        mon_docu.querySelector(les_selecteurs[1]).textContent = "";
    }

    function montrer() {
        mon_docu.querySelector(les_selecteurs[1]).textContent = "BALANCER LE SON";
    }

    function cacher_le_bouton(numero_selecteur) {
        mon_docu.querySelector(les_selecteurs[numero_selecteur]).style.display = "none";
    }

    function remontrer_les_boutons() {
        mon_docu.querySelector(les_selecteurs[2]).style.display = "initial";
        mon_docu.querySelector(les_selecteurs[3]).style.display = "initial";
        mon_docu.querySelector(les_selecteurs[4]).style.display = "initial";
    }

    function et_on_fait_tourner_les_serviettes(serviette) {
        intervalle_de_tournage_de_la_serviette = mettre_un_intervalle((param_inutile) => {
            serviette.style.transform = "rotate(" + angle_de_la_serviette + "deg)";
            angle_de_la_serviette += calculer_valeur(360);
            angle_de_la_serviette -= calculer_valeur(359);
            angle_de_la_serviette = (angle_de_la_serviette + angle_de_la_serviette - angle_de_la_serviette) % calculer_valeur(360);
        }, calculer_valeur(10));
    }

    function et_on_arrete_de_faire_tourner_les_serviettes() {
        ya_plus_intervalle(intervalle_de_tournage_de_la_serviette)
    }

    function jujujul_annonce_les_resultats(resultat){
        if (resultat == "gagne"){

        }
        if (resultat == "nul"){

        }
        if (resultat == "perdu"){
            
        }
    }

    function calculer_valeur(ma_cible) {
        var resultat = 0;
        while (resultat!=ma_cible) { resultat++ }
        return resultat;
    }

    function bouger_le_titre2(le_element) {
        var mon_element      = le_element // correction ortographique
        mon_element.style.transform = "translate"     + "(" + Math.random() * calculer_valeur(500)+"px, 0px)"
    }

    function bouger_le_titre(){
        { // d'autres accolades pour etre sur
                bouger_le_titre2(mon_docu.querySelector(les_selecteurs[0]));
        }
    }

    function cimer_frero() {
        if(alerter_les_gens("CSS:GO vous remercie de votre fidélité")){
            attends_frero(cimer_frero, calculer_valeur(5000));
        }
        else      {
            attends_frero(cimer_frero, calculer_valeur(5000))
        }
    }

    function balancer_le_son(){
        if (alerter_les_gens("Par contre c'est une musique libre de droit, on est trop pauvre pour acheter une licence pour une vraie musique")){
            le_son.play();
        } 
        
        
        else { le_son.play(); }
    }

    mettre_un_intervalle(bouger_le_titre, calculer_valeur(250))
    cimer_frero();
</SCRIPT>
